source_registry:
  url: source-url.com:1234
  username: source-user
  password: mypassword-123

destination_registry:
  url: destination-url.com:1234
  username: destination-user
  password: mypassword-123

image_data_filepath: ../output/image-data.json
namespace_data_filepath: ../output/namespace-data.json
output_dir: ../output
concurrent_is_transfers: 3
